<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">My Blog Site</a>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" onClick="lightDark()">Dark-Mode</a>
        </li>
      </ul>

      <ul class="navbar-nav">
        <li class="nav-item d-flex justify-content-end">
          <a class="nav-link" href="/admin">Admin</a>
        </li>
      </ul>

      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->

    </div>
  </nav>

  <script>
    const lightDark = () => {
      //const body = document.body;
      document.body.classList.toggle("dark-mode");
      document.querySelector('nav').classList.toggle("navbar-light");
      document.querySelector('nav').classList.toggle("bg-light");
      document.querySelector('hr').classList.toggle("hr-dark-mode");
    }
  </script>

  <br> <br>
  