<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">My Blog Site</a>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
        <% if (title !== 'Admin') { %>
          <li class="nav-item">
            <a class="nav-link" href="#" onClick="switchMode()">Dark-Mode</a>
          </li>
        <% } %>

      </ul>

      <ul class="navbar-nav">
        <li class="nav-item d-flex justify-content-end">
          <a class="nav-link" href="/admin">Admin</a>
        </li>
      </ul>

    </div>
  </nav>

  <script>
    const displayMode = (mode) => {
      removeClasses();
      if (mode == 'dark') {
        document.body.classList.add("dark-mode");
        const hr = document.querySelector('hr');
        if (hr != undefined) hr.classList.add("hr-dark-mode");
      } else {
        document.querySelector('nav').classList.add("navbar-light");
        document.querySelector('nav').classList.add("bg-light");
      }
    }

    const switchMode = () => {
      let mode = localStorage.getItem('mode');
      if (mode == 'light') mode = 'dark';
      else mode = 'light';
      localStorage.setItem('mode', mode);
      displayMode(mode);
    }

    const removeClasses = () => {
      document.body.classList.remove("dark-mode");
      document.querySelector('nav').classList.remove("navbar-light");
      document.querySelector('nav').classList.remove("bg-light");
      const hr = document.querySelector('hr');
      if (hr != undefined) hr.classList.remove("hr-dark-mode");
    }

    // display the chosen mode if the page is not the admin control page (dark mode is disabled on that page)
    const urlParts = window.location.href.split('/');
    if (!(urlParts.length >= 3 && urlParts[1] == 'admin' && urlParts[2] == 'login')) displayMode(localStorage.getItem('mode'));

  </script>

  <br> <br>
  