<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head') %> 
</head>
<body>
    <%- include ('./partials/nav') %>

    <div class = "container">
        <h1> Contact Me </h1>
        <br> 
        <p>You can contact me through the following ways: </p>
        <ul>
            <li><p>By phone @ 226-507-4627 </p></li>
            <li><p>By email @ dnaidapp@uwaterloo.ca </p></li>
            <li><p>Or... <a href="#" id = "sendEmail">send me an email from this site!</a></p></li>
        </ul>

        
    <div id="email-modal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
      
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Send me an Email</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              
            </div>
            <div class="modal-body">
                <form action = "/contact" method = "POST">
                    <div class = "form-group">
                        <label for="user-name">Your Name</label>
                        <input type="text" class="form-control w-50" name="name" id="user-name">
                    </div>
                    <div class = "form-group">
                        <label for="user-email">Your Email Address (so I can reply to you)</label>
                        <input type="text" class="form-control w-50" name="email" id="user-email">
                    </div>
                    <div class = "form-group">
                        <label for="email-subject">Subject of this Email</label>
                        <input type="text" class="form-control w-50" name="subject" id="email-subject">
                    </div>
                    <div class = "form-group">
                        <label for="email-body">Email Body</label>
                        <textarea type="text" class="form-control" name="body" id="email-body" rows="10"></textarea>
                    </div>
                    <button type="submit" class="btn btn-outline-primary">Send!</button>
                </form>
            </div>

          </div>
      
        </div>
    </div>

    </div>

    
    <footer class="footer-no-nav footer" role="contentinfo">
        <p>Made by Dulhan N.W. <%= new Date().getFullYear() %> </p>               
    </footer>


    <%- include ('./partials/bottom_scripts') %>

    <script>
        document.querySelector('#sendEmail').addEventListener('click', () => {
            $('#email-modal').modal('show');
        })
    </script>

    
</body>
</html>