<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head') %>   
</head>
<body>
    
    <%- include ('./partials/nav') %>

    <div class = "container"> 
        <h3>Blog 1</h3>
        <p> Date Created: 09/09/20</p>
        <hr>

        <div>
            <p>Blog Content</p>
        </div>
    </div>

    <%- include ('./partials/bottom_scripts') %>

</body>
</html>