#username {
    width: 20%;
}

#password {
    width: 20%;
}

.icon {
    padding: 5px 10px 5px 0;
}

.container{
    margin-bottom: 50px;
}

.create{
    float: right;
}

.fa-eye{
    color:green;
}

.fa-edit{
    color: orange;
}

.fa-trash{
    color: red;
}

.fa:hover{
    color: blue;
    font-size: 20px;
    cursor: pointer;
}

#photo-of-me{
    width: 100px;
    height: 100px;
}

.footer-no-nav {
    border-top: 1px solid #000000;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    height:40px;
    margin-top:-41px;
}

body,html{
    height:100%;
}
.container{
    min-height:100%;
}

.spaces{
    white-space: pre-wrap;
}

